Repository placeAtlas/atlas-2022, pull requests merged in 2022-04, with the labels that each got.

#403 new reddit submissions
  web/atlas.json
Labels: Reddit Submissions

#385 Fix Shelly (Small) Path
  web/atlas.json
Labels: Edit Request

#389 Remove duplicate items of the boat
  web/atlas-before-ids-migration.json
  web/atlas.json
Labels: Edit Request

#460 N9iels patch night watch
  web/atlas-before-ids-migration.json
  web/atlas.json
Labels: Edit Request

#482 Fix: Touch/click propagnation causes links to open
  web/_js/view.js
Labels: Website Improvements

#486 Cleanup
  .github/ISSUE_TEMPLATE/new-submission.md
  .github/ISSUE_TEMPLATE/update-request.md
  web/atlas-before-ids-migration.json
  web/atlas.json
Labels: NEEDS MANUAL MERGE

#502 Fixing README.md path for edits, and fixing art identification
  README.md
  web/atlas.json
Labels: NEEDS MANUAL MERGE

#493 Various Updates
  web/atlas.json
Labels: NEEDS MANUAL MERGE

#445 Fix URL id param
  web/_js/infoblock.js
  web/_js/overlap.js
  web/_js/view.js
Labels: Website Improvements

#443 Change name to "The 2022 /r/place Atlas"
  README.md
  web/_css/style.css
  web/_js/view.js
  web/about.html
  web/index.html
Labels: Website Improvements

#496 Fix positioning and id of entries
  web/atlas.json
Labels: NEEDS MANUAL MERGE

#528 Edit border for VRChat Modding Group
  web/atlas.json
Labels: Edit Request

#531 Update an Entry's size and path to point to the spiral
  web/atlas.json
Labels: Edit Request

#532 Updated temple menorah
  web/atlas.json
Labels: Edit Request

#536 Removed duplicate Eighty Six entries
  web/atlas.json
Labels: Edit Request

#539 Pathing edit so selection lines don't interfere with artwork, misc. edits.
  web/atlas.json
Labels: Edit Request

#540 Merge CubeKrowd Duplicates
  web/atlas.json
Labels: Edit Request

#541 Removed DNF dupes
  web/atlas.json
Labels: Edit Request

#542 Fixed link for Shark3ozero
  web/atlas.json
Labels: Edit Request

#543 Removed duplicate forest king emperor
  web/atlas.json
Labels: Edit Request

#544 Fixed Cascadia flag
  web/atlas.json
Labels: Edit Request

#545 Updated Nanachi
  web/atlas.json
Labels: Edit Request

#547 Updated Hayase Nagotoro description
  web/atlas.json
Labels: Edit Request

#549 Remove Quackity dupes
  web/atlas.json
Labels: Edit Request

#550 Indie Bench redundancy removal
  web/atlas.json
Labels: Edit Request

#556 new submissions
  web/atlas.json
Labels: Reddit Submissions

#564 Cleanup
  README.md
  web/atlas.json
Labels: NEEDS MANUAL MERGE

#681 Add view toggle buttons
  web/_js/main.js
  web/index.html
Labels: Website Improvements

#717 Better description for r/kindredfates
  web/atlas.json
Labels: Edit Request

#684 Removed duplicate entry and inaccurate entry
  web/atlas.json
Labels: NEEDS MANUAL MERGE

#690 Game Theory Logo Fix 2
  web/atlas.json
Labels: NEEDS MANUAL MERGE

#719 Remove cloned entries, fixed paths.
  web/atlas.json
Labels: Edit Request

#720 Edit: Cookie Clicker
  web/atlas.json
Labels: Edit Request

#722 Removed duplicate "Feh the owl" submissions
  web/atlas.json
Labels: Edit Request

#724 Constantiam-related edits. Upd: twthsq, txa1gn; rem dup: txcc07, txepaq
  web/atlas.json
Labels: Edit Request

#723 Reddit Contributions
  web/atlas.json
Labels: Reddit Submissions

#734 Upd: 3cd3ce, twthsq, tww52x, txa1gn; rem dup: twqd6c, twvk1t
  web/atlas.json
Labels: Edit Request

#740 Removed duplicates and fixed path on UK flag
  web/atlas.json
Labels: Edit Request

#741 Removed duplicate of Malaysia
  web/atlas.json
Labels: Edit Request

#742 Edit: Taiwan's contributions to r/place
  web/atlas.json
Labels: Edit Request

#745 Removed Starbound dupe
  web/atlas.json
Labels: Edit Request

#746 Updated twxdg0 (Retrostudio) and twvks0 (Compliance Logo)
  web/atlas.json
Labels: Edit Request

#728 reddit submissions
  web/atlas.json
Labels: Reddit Submissions

#767 reddit contributions
  web/_js/main.js
  web/atlas.json
Labels: Reddit Submissions

#833 Cleanup
  web/_css/style.css
  web/atlas.json
  web/index.html
Labels: NEEDS MANUAL MERGE

#829 Make redditcrawl create a valid json for atlas_temp
  tools/redditcrawl.py
Labels: Tooling

#879 New submissions
  web/atlas.json
Labels: Reddit Submissions

#882 New reddit submissions into master
  tools/redditcrawl.py
  web/atlas.json
Labels: Reddit Submissions

#853 Add smooth pixel zooming
  web/_js/main.js
Labels: Website Improvements

#928 New submissions
  web/atlas.json
Labels: Reddit Submissions

#932 Redo of PR#919
  web/atlas.json
Labels: Edit Request

#963 Cleaned up The Front Bottoms band
  web/atlas.json
Labels: Edit Request

#966 Cleaned up Nitori
  web/atlas.json
Labels: Edit Request

#967 Edited NeoSakai Translations
  web/atlas.json
Labels: Edit Request

#968 Fixed Northernlion
  web/atlas.json
Labels: Edit Request

#969 Removed a2c prank
  web/atlas.json
Labels: Edit Request

#974 Update :squirtyay: description
  web/atlas.json
Labels: Edit Request

#976 removed joke submission tx8wl2
  web/atlas.json
Labels: Edit Request

#977 Clean up rocket league logo
  web/atlas.json
Labels: Edit Request

#965 Remove duplicates for INSA
  web/atlas.json
Labels: Edit Request

#970 Edit Request: Fix incorrect description on small minion artwork
  web/atlas.json
Labels: Edit Request

#981 Update wrong description of CPE Lyon
  web/atlas.json
Labels: Edit Request

#985 Eren Jaeger cleanup
  web/atlas.json
Labels: Edit Request

#973 Cleanup of ConorEatsPants
  web/atlas.json
Labels: Edit Request

#988 Removed duplicate Moist E-Sport submission
  web/atlas.json
Labels: Edit Request

#990 Update twlhf3, twqkwe
  web/atlas.json
Labels: Edit Request

#991 Change to id txlevt
  web/atlas.json
Labels: Edit Request

#993 Add touhousniper98 website
  web/atlas.json
Labels: Edit Request

#996 Changed description of ConorEatsPants
  web/atlas.json
Labels: Edit Request

#997 duplicate entries & troll entries cleanup
  web/atlas.json
Labels: Edit Request

#998 Change to tx5fpn; deleted twm2lk
  web/atlas.json
Labels: Edit Request

#999 Changed crabrave description and subreddit
  web/atlas.json
Labels: Edit Request

#1002 removed duplicate entries & fixed entry txzuzv on request
  web/atlas.json
Labels: Edit Request

#1001 Cleaned up Conor
  web/atlas.json
Labels: Edit Request

#1018 New reddit submissions
  web/atlas.json
Labels: Reddit Submissions

#783 add sort by area (largest to smallest)
  web/_js/atlas.js
  web/_js/view.js
  web/index.html
Labels: Website Improvements

#1052 Time travel again, but github is down???
  web/_css/style.css
  web/_img/place-indexed-2-3.png
  web/_img/place-indexed-3.png
  web/_img/place-indexed-4.png
  web/_img/place-indexed-5.png
  web/_img/place-indexed-final-place.png
  web/_img/place-indexed.png
  web/_img/place-indexed.png.old
  web/_img/place.png
  web/_img/place/1648822500.png
  web/_img/place/1648847036.png
  web/_img/place/1648870452.png
  web/_img/place/1648893666.png
  web/_img/place/1648917500.png
  web/_img/place/1648942113.png
  web/_img/place/1648956234.png
  web/_img/place/1648968061.png
  web/_img/place/1648979987.png
  web/_img/place/1648992274.png
  web/_img/place/1649012915.png
  web/_img/place/1649037182.png
  web/_img/place/1649060793.png
  web/_img/place/1649084741.png
  web/_img/place/final.png
  web/_js/main.js
  web/_js/time.js
  web/_js/view.js
  web/index.html
Labels: Website Improvements

#1058 New reddit submissions, remove some dupes
  web/atlas.json
Labels: Reddit Submissions

#1061 Cleanup
  web/atlas.json
Labels: Cleanup merge into master

#945 Improve/merge scripts, avoid RegEx, format when crawling
  tools/formatter.py
  tools/less-md-links.py
  tools/misc-formats.py
  tools/redditcrawl.py
  tools/subreddit-format.py
  web/atlas-before-ids-migration.json
  web/atlas.json
Labels: Tooling

#1068 Adds 2 secret diff modes for easier preview checking
  web/_js/main.js
  web/_js/view.js
Labels: Website Improvements, Tooling

#1053 Fix duplicated textbox
  web/index.html
Labels: Website Improvements

#1074 Cleanup
  .gitignore
  tools/formatter.py
  tools/less-md-links.py
  tools/misc-formats.py
  tools/redditcrawl.py
  tools/subreddit-format.py
  web/atlas-before-ids-migration.json
  web/atlas.json
Labels: Cleanup merge into master

#1101 New submissions
  web/atlas.json
Labels: Reddit Submissions

#1108 Coord box
  web/_css/style.css
  web/_js/view.js
  web/built_atlas_DO_NOT_MODIFY.json
  web/index.html
Labels: Website Improvements

#1116 Improved diffview
  web/_css/style.css
  web/_js/infoblock.js
  web/_js/main.js
  web/_js/view.js
Labels: Website Improvements, Tooling

#1092 Various fixes, improve script again and web
  README.md
  tools/formatter.py
  tools/redditcrawl.py
  tools/smallifier.html
  web/_css/style.css
  web/_js/atlas.js
  web/_js/draw.js
  web/_js/infoblock.js
  web/_js/main.js
  web/_js/overlap.js
  web/_js/pointInPolygon.js
  web/_js/stats.js
  web/_js/time.js
  web/_js/view.js
  web/about.html
  web/atlas.json
  web/index.html
Labels: Tooling

#1179 Remove duplicate points using format.py
  tools/formatter.py
Labels: Tooling

#1224 Compress all SVG images
  web/_css/style.css
  web/_img/Discord.svg
  web/_img/arrow-down.svg
  web/_img/arrow-left.svg
  web/_img/arrow-right.svg
  web/_img/arrowDown.svg
  web/_img/bitcoin.svg
  web/_img/bitcoinQR.png
  web/_img/close.svg
  web/_img/minus.svg
  web/_img/original.svg
  web/_img/plus.svg
  web/index.html
Labels: Website Improvements

#1160 Use hash URL (#) for id highlight
  web/_js/infoblock.js
  web/_js/main.js
  web/_js/overlap.js
  web/_js/view.js
Labels: Website Improvements

#1250 Revert "Removed twthsq"
  web/atlas.json
Labels: Edit Request

#1254 Improve canvas loading (3)
  web/_css/style.css
  web/_headers
  web/_js/main.js
  web/_js/time.js
  web/_js/view.js
Labels: Website Improvements

#1235 New center algorithm
  tools/calculate_center.py
  tools/formatter.py
  web/_js/draw.js
  web/_js/main.js
  web/_js/polylabel.js
  web/_js/tinyqueue.min.js
  web/index.html
Labels: Website Improvements

#1165 Fixed platform specific behaviour in format.py
  tools/formatter.py
Labels: Tooling

#1334 Major UI redesign
  README.md
  web/_css/style.css
  web/_img/logo.svg
  web/_img/place-logo.svg
  web/_img/tfc-logo.svg
  web/_js/atlas.js
  web/_js/draw.js
  web/_js/infoblock.js
  web/_js/main.js
  web/_js/time.js
  web/_js/view.js
  web/about.html
  web/index.html
Labels: Website Improvements
